.mySwiper {
  width: 100%; /* Ajuste a largura conforme desejado */
  max-width: 1200vh; /* Limita a largura máxima para desktops */
  margin: 0 auto; /* Centraliza horizontalmente */
}

/* Padroniza o tamanho das imagens */
.swiper-slide img {
  width: 100%;
  height: 400px; /* Altura padrão para as imagens */
  object-fit: cover; /* Corta para preencher o espaço sem distorção */
}